<!DOCTYPE html>
<html>
<head>
	<title>Ninja Gold</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/index.css')}}">
</head>
<body>
	<div id="container">
		<div id="header">
			<form action="/process_money">
				Your Gold: <input type="text" name="gold_count" class="gold_counter">
			</form>
		</div>
		<div id="body">
			<div id="farm">
				
			</div>
			<div id="cave">
				
			</div>
			<div id="house">
				
			</div>
			<div id="casino">
				
			</div>
		</div>

		




	</div>

</body>
</html>